<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New-Pet</title>
</head>
<body>

<h1>Order a Pet</h1>

<form method="post" action="#">
    Pet Name<input type="text" name="name">
    Pet Color:
    <select class = "form-control" name="pet-color" id="pet-color">
        <option>--Select--</option>
        <repeat group="{{@colors}}" value="{{@colorOption}}">
            <option {{@colorOption}}></option>
        </repeat>
    </select>

    Pet Type <input type="text" name="type">
    <br>
    <button type="submit" value="Submit"></button>
</form>


</body>
</html>