<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Order a Pet</h1>

<form method="post" action="#">
    Pet Name<input type="text" name="name" value="{{@name}}">

    Pet Type <input type="text" name="type" value="{{@type}}">
    <br>
    <!-- color -->
    <label class="col-sm-1 control-label"
           for="pet-color">Pet Color</label>
    <div class="col-sm-3"></div>
    <check if="{{ isset(@errors['color']) }}">
        <p>{{ @errors['color'] }}</p>
    </check>
    <check if="{{ isset(@errors['name']) }}">
        <p>{{ @errors['name'] }}</p>
    </check>
    <select class="form-control" name="pet-color" id="pet-color">
        <option>--Select--</option>
        <repeat group="{{ @colors }}" value="{{ @colorOption }}">
            <option
                <check if="{{ @colorOption == @color }}">selected</check>>
                {{ @colorOption }}
            </option>
        </repeat>
    </select>
    <button type="submit" name="submit" value="Submit">SUBMIT</button>
</form>

<!-- if submission was successful, display a confirmation -->
<check if="{{ @success }}">
    <h2>Thank you for your order for a {{@color}} {{ @type }} with the name {{@name}}!</h2>
</check>

</body>
</html>